@model List<UserGroup.ViewModel.GroupVM>
@{
    int i = 0;
}
<table class=" m-1 table table-striped table-bordered" id="GroupTable">
    <thead>
        <tr>
            <th class="text-center">S No.</th>
            <th class="text-left">Name</th>
            <th class="text-center">Total Users</th>
            <th class="text-center">Selected Users</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model)
        {
            i++;
            <tr data-group-id="@v.Id">
                <td class="text-center">@i</td>
                <td>@v.Name</td>
                <td class="text-center">@v.TotalUsers</td>
                <td class="text-center selected-users-cell">@v.TotalUsers</td>
                <td class="text-center"><a class="fa-regular fa-trash-can text-danger" onclick="confirmDeleteGroupDialog(@v.Id)" title="Delete"></a></td>
            </tr>
           @*  <tr>
                <td class="text-center">@i</td>
                <td>@v.Name</td>
                <td class="text-center">@v.TotalUsers</td>
                <td class="text-center" id="SelectedUsertd">@v.TotalUsers</td>
                <td class="text-center"><a class="fa-regular fa-trash-can text-danger" onclick="confirmDeleteGroupDialog(@v.Id)" title="Delete"></a></td>
            </tr> *@
        }
    </tbody>
</table>

<script>
  

    $(document).ready(function () {
        $('#GroupTable').DataTable({
            lengthMenu: [[5, 10, 25, 50], [5, 10, 25, 50]], // Set the options to show 5, 10, 25, or 50 entries per page
            pageLength: 5,// Set the initial page length to 5
            pagingType: 'simple_numbers', // Use simple_numbers pagination style
            language: {
                paginate: {
                    previous: '<i class="fas fa-chevron-left"></i>', // Replace previous text with left chevron icon
                    next: '<i class="fas fa-chevron-right"></i>' // Replace next text with right chevron icon
                }
            }
        });
    });
</script>
